/* NOTES
- Lots of this is using parents etc (ex: .some-parent .some-child) to test using this feature
    i.e. it's not always needed or effective/efficient
*/


/******* GLOBAL *********/
* {
    font-family: Arial, Helvetica, sans-serif;
}

/********* MISC **********/

/* Button */
.blue-button {
    background-color: #3882F6;
    border-radius: 7px;
    color: #F9FAF8;
    font-weight: 600;
    padding: 5px 25px;
    /* ensures button doesn't expand to fit width of parent */
    max-width: fit-content;
    /* the below would achieve the same, but has other connotations. it is the feature used by the <button> element - does that make it better/more appropriate? */
    /* display: inline-block; */
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
}

/* Header logo */
.header h3 {
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 15vw;

}

/* header links container */
.header .links-container {
    padding-right: 15vw;
}

/* Header links */
.header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    margin-left: 1vw;
}

/* **********  HERO  ***************/
.hero {
    background-color: #1F2937;
    padding: 10vh 12vw;
    display: flex;
}

/* container for hero text */
.hero .text-container {
    flex: 1;
}

/* Main text */
.hero .main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

/* Secondary text */
.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

/* Image placeholder */
.hero .image-placeholder {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: rgba(210, 207, 241, 0.5);
    margin-left: 3vw;
}